
@{
    ViewBag.Title = "BIR_BCS";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>BP - BIR-BCS</h2>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>

