
@{
    ViewBag.Title = "EmployeeReport";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Employee Report</h2>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <hr />
        <a href="~/Reports/EmpReport.aspx">View Report</a>
    </div>
    <!-- end container -->
</section>

