@model List<byte[]>
@{
    ViewBag.Title = "GenRep";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}
<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>201 Report</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index","Home")">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Dummy","Home")">Dummy</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    201 Report
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <object data="@ViewBag.PDFData" type="application/pdf" width="100%" height="600px"></object>
        <br />
        <a href="@Url.Action("DownloadReport", "Home")">Download Report</a>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>

